<div class="container">
  <app-header></app-header>

  <div class="main-container">
    <!-- <div class="develop-text">
      <span>t</span>
      <span>t</span>
      <span>t</span>
      <span>t</span>
      <span>t</span>
      <span>t</span>
      <span>t</span>
    </div> -->
    <div class="description-text" *ngIf="lastProfile">
      <h3 [style.color]="'#e3e3e3'">
        {{ lastProfile.job_description }}
      </h3>
    </div>

    <div class="title-text" *ngIf="lastProfile">
      <h3 [style.color]="'#e3e3e3'">{{ lastProfile.name }}</h3>
      <h3 [style.color]="'#464646'">{{ lastProfile.job_title }}</h3>
    </div>

    <!-- Loading state -->
    <div class="loading" *ngIf="!lastProfile">
      <p>Loading profile data...</p>
    </div>

    <img src="assets/img/landing.png" alt="landing" />

    <div (click)="handleClick('page2')" class="masked-text">FRAMEUP</div>
    <div class="circle-mask"></div>
  </div>
</div>
