<div class="container">
  <app-header [scrollTo]="scrollTo"></app-header>

  <div class="main-container">
    <!-- <div class="develop-text">
      <span>t</span>
      <span>t</span>
      <span>t</span>
      <span>t</span>
      <span>t</span>
      <span>t</span>
      <span>t</span>
    </div> -->
    <div
      [ngStyle]="{
        position: 'absolute',
        'z-index': '1',
        top: '200px',
        left: '4%',
        width: '300px',
        fontWeight: 'lighter',
      }"
    >
      <h3 [style.color]="'#e3e3e3'">
        AN AWARD-WINNING PHOTOGRAPHER WHOSE LENS TRANSFORMS MOMENTS INTO
        TIMELESS MASTERPIECES
      </h3>
    </div>

    <div
      [ngStyle]="{
        position: 'absolute',
        'z-index': '1',
        bottom: '230px',
        left: '27%'
      }"
    >
      <h3 [style.color]="'#e3e3e3'">SQUIDWOD TENPOLES</h3>
      <h3 [style.color]="'#464646'">AWARD WINNING PHOTOGRAPHER</h3>
    </div>

    <img src="assets/img/landing.png" alt="landing" />

    <div (click)="handleClick('page2')" class="masked-text">FRAMEUP</div>
    <div class="circle-mask"></div>
  </div>
</div>
