.services-section {
  padding: 3.1rem 0;
  background-color: #121212;
  color: #fff;
}

.section-header {
  text-align: center;
  margin-bottom: 2rem;
}

.section-header h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #ffffff;
}

.section-description {
  font-size: 1.1rem;
  color: #b3b3b3;
  max-width: 600px;
  margin: 24px auto;
}

.service-cards-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.service-card-wrapper {
  display: flex;
  max-width: 400px;
  height: 100%;
}

@media screen and (min-width: 2560px) {

}

@media screen and (max-width: 1280px) {
.service-cards-grid {
    flex-wrap: wrap;

}
}

@media screen and (max-width: 900px) {
.service-card-wrapper {
    max-width: 500px;

}
}

@media (max-width: 768px) {

}

@media screen and (max-width: 640px) {
.service-card-wrapper {
    min-width: 500px;

}
.service-card{
  min-width: 500px;
}
}

