<div class="container">
  <div class="about-me" *ngIf="lastProfile">
    <div class="about-me-content" >
      <h1 class="about-me-title">{{ lastProfile.title }}</h1>


      <p class="about-me-text">
       {{ lastProfile.description }}
      </p>
      <button (click)="handleServicesClick('page3')" class="use-my-service">
        Use my services
      </button>
    </div>
    <div (click)="TriggerAnimationService.triggerAnimation()" class="wrapper">
      <img
        src="{{lastProfile.profile_picture}}"
        alt="Background"
        class="background-img"
        [class.animate-bg]="TriggerAnimationService.animate"
      />
      <img
        src="{{lastProfile.secondary_picture}}"
        alt="Foreground"
        class="foreground-img"
      />
    </div>
  </div>
  <app-logo-bar></app-logo-bar>
</div>
