.logo-carousel {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #000000;
  position: relative;
  min-height: 18vh;
}

.logo-track {
  display: flex;
  animation: scroll-left 20s linear infinite;
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 3.75rem 0px 3.75rem;
  /* filter: grayscale(100%); */

}

.logo-item img {
  filter: brightness(50%);
  width: 20rem;
  height: 13.75rem;
  object-fit: contain;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 2560px) {

  .logo-item img {
    height: 15rem;
  }
}
@media screen and (max-width: 1920px) {

  .logo-item img {
    height: 10.75rem;
  }
}